body{
  background-color: #d8d8d8;
}

h3{
  margin-top: 3px;
  margin-bottom: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form {
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 2%;
}

.form p.signUp{
  text-align: right;
}

.form .MuiFormControl-root{
  margin-bottom: 20px;
}

.form button {
  margin-top: 10px;
}

.loading-root{
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  background-color: #fff;
  padding-left: 10%;
}
.loading-root>div{
  margin-top: 300px;
  width: 80%;
}

.profilePic{
  border-radius: 50%;
  max-width: 50px;
}

.MuiAlert-root{
  margin-top: 5px;
  margin-bottom: 15px;
}


@media screen and (max-width: 992px) {
  .form{
    max-width: 85% !important;
  }
}